#box1{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: skyblue;

    position:;
}

#box2{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: red;
}

